@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}
h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}
p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}
blockquote {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #0a0a0a;
}

.backgroundatas {
  background-image: url(assets/BgBlack.png);
  background-size: cover;
}

.backgroundtengah {
  background-image: url(assets/bgwhite.png);
  background-size: cover;
}

.backgroundbawah {
  background-image: url(assets/BgBlack2.png);
  background-size: cover;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 64px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.section__header {
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 12px;
  padding: 16px 98px;
}

.section__title {
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 32px;
}

.section__subtitle {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 24px;
}

nav {
  padding: 32px 88px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0a0a0a;
}

.nav_mail {
  display: flex;
  font-size: 20px;
  gap: 24px;
  align-items: center;
  color: #ffffff;
}

.nav_mail img {
  width: 32px;
  height: 32px;
}

.nav_logo {
  font-family: inter;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary-main);
  cursor: pointer;
}

.nav_logo img {
  width: 180px;
  height: 30px;
}

.nav_icon {
  gap: 24px;
  display: flex;
}

.nav_icon img {
  width: 32px;
  height: 32px;
}

.profile {
  margin-left: auto;
  margin-right: auto;
}

.profile img {
  margin-top: 120px;
  width: 180px;
  height: 180px;
}

.title_profile {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  text-align: center;
}

.role {
  text-align: center;
  font-size: 18px;
  color: #757575;
}

.name_body {
  font-size: 28px;
  color: #ffffff;
}
.icon_hand img {
  height: 44px;
  width: 44px;
}

.passion {
  gap: 32px;
  justify-content: center;
}

.passion_head {
  font-size: 60px;
  font-family: “Helvetica”, sans-serif;
  color: #ffffff;
  text-align: center;
  margin: auto;
  max-width: 900px;
  margin-bottom: 40px;
}

.passion_body p {
  max-width: 798px;
  max-height: 66px;
  font-size: 18px;
  color: #757575;
  text-align: center;
  margin: auto;
}

.btn {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.glow-on-hover {
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  display: flex;
  width: 274px;
  height: 62px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
}

.glow-on-hover img {
  width: 32px;
  height: 32px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.experience {
  color: black;
  font-size: 32px;
  margin-top: 46px;
  margin-bottom: 46px;
}

.wrap_card {
  display: flex;
  gap: 60px;
  margin-bottom: 32px;
}

.card {
  width: 581px;
  height: 318px;
  padding: 36px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #171616;
  text-align: left;
  border-radius: 10px;
}

.card_sertif {
  padding: 36px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #171616;
  text-align: left;
  border-radius: 10px;
}

.sertifikat {
  color: white;
  font-size: 32px;
  margin-top: 75px;
  margin-bottom: 46px;
}

.wrap_card_lomba {
  align-items: center;
  display: flex;
  gap: 60px;
  justify-content: center;
  margin-bottom: 92px;
}

.card_sertif img {
  width: 550px;
  margin-bottom: 24px;
}

.nama_lomba {
  font-size: 24px;
  color: white;
  margin-bottom: 24px;
}

.desk_lomba {
  font-size: 16px;
  color: white;
  margin-bottom: 24px;
}

.nama_pt {
  font-size: 32px;
  margin-bottom: 32px;
}

.role_card {
  font-size: 24px;
  margin-bottom: 20px;
}

.date {
  font-size: 24px;
  margin-bottom: 20px;
}

.skill {
  font-size: 24px;
  gap: 12px;
  display: flex;
}

.skill_name {
  font-size: 24px;
}

.skills_and_tools {
  margin-top: 132px;
  color: black;
  font-size: 32px;
  margin-bottom: 46px;
}

.skills_and_toolsname {
  margin-top: 32px;
  color: black;
  font-size: 24px;
  margin-bottom: 136px;
}

.footer {
  display: flex;
  color: white;
  gap: 60px;
  margin-top: 98px;
  margin-bottom: 32px;
}

.qtechfooter {
  display: flex;
  height: 48px;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
  justify-content: center;
}

.qtechfooter img {
  width: 199px;
  height: 38px;
  align-items: flex-start;
}

.playgroundfooter {
  display: flex;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  justify-content: center;
}

.gitfoot {
  margin-bottom: 24px;
}

.hop {
  color: #fff;
  text-align: center;
  font-family: Helvetica Neue;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.528px;
}

.gitfooter {
  display: flex;
  height: 48px;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  flex: 1 0 0;
}

.fufooter {
  width: 100px;
  height: 104px;
  gap: 24px;
}

.fufoo {
  margin-bottom: 24px;
  gap: 8px;
}

.footericon img {
  width: 22px;
  height: 22px;
}

.work {
  color: white;
  font-size: 32px;
  margin-bottom: 46px;
}

.wrap_work {
  display: flex;
  gap: 60px;
}

.card_work {
  padding: 36px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #171616;
  text-align: left;
  justify-content: center;
  border-radius: 10px;
}

.card_work img {
  height: 371px;
  align-self: stretch;
  margin-bottom: 24px;
  border-radius: 10px;
}

.nama_work {
  font-size: 24px;
  color: white;
  margin-bottom: 24px;
}

/* hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 32px;
  height: 26px;
  top: -3px;
  left: -5px;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 2px;
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.5s;
}

.nav_icon_dalem a {
  text-decoration: none;
  display: flex;
}

.nav_icon_dalem a span {
  display: none;
  text-decoration: none;
  color: white;
  margin-left: 8px;
}

.menu-toggle span.line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.menu-toggle span.line2 {
  transition: transform 0.2s ease-in-out;
}

.menu-toggle span.line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.menu-toggle input[type="checkbox"]:checked ~ span.line1 {
  transform: rotate(45deg);
}

.menu-toggle input[type="checkbox"]:checked ~ span.line2 {
  transform: scaleY(0);
}

.menu-toggle input[type="checkbox"]:checked ~ span.line3 {
  transform: rotate(-45deg);
}
.show_mail_on_mobile {
  display: none;
  margin-bottom: 24px;
  margin-top: 12px;
}

/* Untuk Mobile Phone */
@media screen and (max-width: 400px) {
  .show_mail {
    display: none;
    margin-bottom: 24px;
    margin-top: 12px;
  }

  h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
  }
  h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
  }
  p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
  }
  blockquote {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
  }
  pre {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
  }

  .backgroundatas {
    background-image: url(assets/BgBlack.png);
    background-size: cover;
  }

  .backgroundtengah {
    background-image: url(assets/bgwhite.png);
    background-size: cover;
  }

  .backgroundbawah {
    background-image: url(assets/BgBlack2.png);
    background-size: cover;
  }

  .section__container {
    margin: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .section__header {
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 12px;
    padding: 8px 32px;
  }

  .section__title {
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 32px;
  }

  .section__subtitle {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 24px;
  }

  nav {
    padding: 16px 32px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0a0a0a;
  }

  .nav_mail {
    display: none;
    font-size: 12px;
    gap: 8px;
    align-items: center;
    color: #ffffff;
  }

  .nav_mail img {
    width: 16px;
    height: 16px;
  }

  .nav_logo {
    font-family: inter;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary-main);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin-right: au;
  }

  .nav_logo img {
    width: 92px;
    height: 15px;
  }

  .nav_icon .nav_icon_dalem img {
    width: 16px;
    height: 16px;
  }

  .menu-toggle {
    display: flex;
  }

  nav .nav_icon {
    position: absolute;
    width: 100%;
    top: 60px;
    right: 0;
    height: max-content;
    background-color: #0a0a0a;
    flex-direction: column;
    transition: all 1s;
    z-index: 2;
    align-items: center;
    opacity: 0;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .nav_icon_dalem {
    margin-bottom: 8px;
  }

  .nav_icon_dalem a span {
    display: flex;
  }

  .show_mail_on_mobile {
    display: flex;
  }

  nav .nav_icon.slide {
    opacity: 1;
  }

  .profile {
    margin-left: auto;
    margin-right: auto;
  }

  .profile img {
    margin-top: 64px;
    width: 109px;
    height: 109px;
  }

  .title_profile {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 8px;
    text-align: center;
  }

  .role {
    text-align: center;
    font-size: 12px;
    color: #757575;
  }

  .name_body {
    font-size: 24px;
    color: #ffffff;
  }
  .icon_hand img {
    height: 28px;
    width: 28px;
  }

  .passion {
    gap: 12px;
    justify-content: center;
  }

  .passion_head {
    font-size: 20px;
    font-family: “Helvetica”, sans-serif;
    color: #ffffff;
    text-align: center;
    max-width: 900px;
    margin-top: 12px;
    margin-bottom: 24px;
  }

  .passion_body p {
    max-width: 798px;
    max-height: 66px;
    font-size: 12px;
    color: #757575;
    text-align: center;
    margin: auto;
  }

  .btn {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .glow-on-hover {
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    display: flex;
    width: 274px;
    height: 62px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
  }

  .glow-on-hover img {
    width: 32px;
    height: 32px;
  }

  .glow-on-hover:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }

  .glow-on-hover:active {
    color: #000;
  }

  .glow-on-hover:active:after {
    background: transparent;
  }

  .glow-on-hover:hover:before {
    opacity: 1;
  }

  .glow-on-hover:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  @keyframes glowing {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

  .experience {
    color: black;
    font-size: 24px;
    margin-top: 46px;
    margin-bottom: 46px;
  }

  .wrap_card {
    display: grid;
    gap: 30px;
    margin-bottom: 32px;
  }

  .card {
    width: 335px;
    height: 252px;
    padding: 36px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #171616;
    text-align: left;
    border-radius: 10px;
  }

  .card_sertif {
    padding: 24px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #171616;
    text-align: left;
    border-radius: 10px;
  }

  .sertifikat {
    color: white;
    font-size: 16px;
    margin-top: 64px;
    margin-bottom: 46px;
  }

  .wrap_card_lomba {
    align-items: center;
    display: grid;
    gap: 60px;
    justify-content: center;
    margin-bottom: 92px;
  }

  .card_sertif img {
    width: 290px;
    margin-bottom: 24px;
  }

  .nama_lomba {
    font-size: 20px;
    color: white;
    margin-bottom: 24px;
  }

  .desk_lomba {
    font-size: 16px;
    color: white;
    margin-bottom: 24px;
  }

  .nama_pt {
    font-size: 20px;
    margin-bottom: 32px;
  }

  .role_card {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .date {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .skill {
    font-size: 16px;
    gap: 12px;
    display: flex;
  }

  .skill_name {
    font-size: 16px;
  }

  .skills_and_tools {
    margin-top: 78px;
    color: black;
    font-size: 24px;
    margin-bottom: 24px;
  }

  .skills_and_toolsname {
    margin-top: 12px;
    color: black;
    font-size: 16px;
    margin-bottom: 136px;
  }

  .footer {
    align-items: center;
    align-self: center;
    display: grid;
    color: white;
    gap: 60px;
    margin-top: 98px;
    margin-bottom: 32px;
  }

  .qtechfooter {
    display: flex;
    height: 48px;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
    justify-content: center;
  }

  .qtechfooter img {
    width: 199px;
    height: 38px;
    align-items: center;
    justify-content: center;
  }

  .playgroundfooter {
    display: flex;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
  }

  .gitfoot {
    margin-bottom: 24px;
  }

  .hop {
    color: #fff;
    text-align: center;
    font-family: Helvetica Neue;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.528px;
  }

  .gitfooter {
    display: flex;
    height: 48px;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
    flex: 1 0 0;
    justify-content: center;
  }

  .fufooter {
    width: 100px;
    height: 104px;
    gap: 24px;
  }

  .fufoo {
    margin-bottom: 24px;
    gap: 8px;
  }

  .footericon img {
    width: 22px;
    height: 22px;
  }

  .work {
    color: white;
    font-size: 24px;
    margin-bottom: 46px;
  }

  .wrap_work {
    display: grid;
    gap: 30px;
  }

  .card_work {
    padding: 36px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #171616;
    text-align: left;
    justify-content: center;
    border-radius: 10px;
  }

  .card_work img {
    width: 261px;
    height: 186px;
    align-self: stretch;
    margin-bottom: 24px;
    border-radius: 10px;
  }

  .nama_work {
    font-size: 16px;
    color: white;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
  }

  .mail {
    display: flex;
    visibility: visible;
  }
}

/* Untuk Tablet */
@media screen and (min-width: 476px) {
}
